:root {
	--main-title-color: #ffffff;
	--second-title-color: #303030;
	--main-text-color: #555555;
	--second-text-color: rgba(157, 164, 189, 0.6);
	--third-text-color: #9da4bd;
	--fourth-text-color: #303030;
	--accent-color: #ff6c00;
	--main-btn-color: #ffffff;
	--second-btn-color: #303030;
	--header-text-color: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-style: normal;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

body {
	font-family: "Raleway", sans-serif;
	font-family: "Open Sans", sans-serif;
	color: #303030;
}
.sections {
	padding: 130px 55px;
}
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* header section */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 32px;
	background: #30303080;
}
.header-box {
	display: flex;
	align-items: center;
}

.nav-items {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 70px;
}

.menu-items {
	display: flex;
	align-items: center;
}

.menu-item:not(:last-child) {
	margin-right: 40px;
}

.menu-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.1em;

	color: var(--header-text-color);
}
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}
.cont-btn {
	margin-left: auto;
}
.link-tel {
	margin-right: 40px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--header-text-color);
}
.link-tel:hover,
.link-tel:focus {
	color: var(--accent-color);
}
.btn-record {
	min-width: 160px;
	padding: 12px;

	border: 1px solid var(--accent-color);
	box-sizing: border-box;
	border-radius: 25px;

	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: var(--main-btn-color);
	background: rgba(0, 0, 0, 0);
}
.btn-record:hover,
.btn-record:focus {
	background: var(--accent-color);
	color: var(--main-btn-color);
}

/* Hero section */

.main {
	display: flex;
}

.sociale-items {
	width: 96px;
	display: flex;
	align-items: flex-end;
}
.sociale-item {
}

.sociale-item > a:hover,
.sociale-item > a:focus {
	color: var(--accent-color);
}
.link-inst,
.link-youtube {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--fourth-text-color);
}
.main-bg {
	flex-grow: 1;
	padding: 272px 0 206px 96px;
	background: url(../images/Slider-img-3.jpg) no-repeat center;
}
.main-up-title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--second-text-color);
}
.main-title {
	margin-bottom: 20px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: var(--main-title-color);
}
.main-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--third-text-color);
}

/* About sections  */

.about {
}
.about-box {
	display: flex;
}

.about-items {
	display: flex;
}
.about-item {
}
.about-item + .about-item {
	margin-left: 30px;
}
.about-img {
}
.about-article {
	margin-left: 64px;
}
.about-up-title {
	margin-bottom: 20px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--fourth-text-color);
}
.about-title {
	margin-bottom: 20px;

	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;

	color: var(--second-title-color);
}
.about-pre-title {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--main-text-color);
}
.about-text {
	width: 477px;
	margin-bottom: 40px;

	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;

	color: var(--main-text-color);
}
.about-btn {
	color: var(--second-btn-color);
}

/* service sections  */

.service {
	background: url(../images/bg-servise.jpg) no-repeat center;
}
.service-up-title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--second-text-color);
}

.service-title {
	margin-bottom: 44px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;

	color: var(--main-title-color);
}
.service-box {
	display: flex;
	width: 100%;
	margin-bottom: 50px;
}
.service-items {
	width: 100%;
	padding: 30px 40px;
	background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.service-items:last-child {
	background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.service-item {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--third-text-color);
}
.service-item:not(:last-child) {
	margin-bottom: 20px;
}
.service-item-text {
}
.service-item-cost {
}
.btn-service {
	display: block;
	margin: 0 auto;
}
/* sections why-we  */

.why-we {
}

.why-we-box {
	display: flex;
}
.why-we-items {
	display: flex;
}
.why-we-item {
}
.why-we-item-count {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	letter-spacing: 0.05em;

	color: var(--fourth-text-color);
}
.why-we-item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;

	color: var(--fourth-text-color);
}
.why-we-up-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--fourth-text-color);
}
.why-we-title {
	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: var(--second-title-color);
}
.why-we-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--main-text-color);
}

/* sections team  */

.team {
	background: #f7f7f7;
}
.team-box {
}
.team-up-text {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--fourth-text-color);
}
.team-title {
	margin-bottom: 44px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: var(--second-title-color);
}
.team-items {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}
.team-item {
	margin: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.team-item-img {
	margin-bottom: 30px;
}
.team-item-title {
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.02em;

	color: var(--second-title-color);
}
.team-item-text {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.02em;

	color: var(--accent-color);
}

/* sections portpholio  */
.portpholio {
}
.portpholio-box {
}
.portpholio-text {
	margin-bottom: 44px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--fourth-text-color);
}
.portpholio-items {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}
.portpholio-item {
	margin: 15px;
}

/* Online sections  */
.two-box {
	display: flex;
}
.online {
	width: 1280px;
	height: 644px;
	margin: 0 auto;
	background: #191c26;
	background-image: url(../images/bg-contacts.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.online-title {
	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: var(--main-title-color);
}

/* Contacts sections  */
.contacts {
}
.contacts-title {
	font-family: Raleway;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: var(--main-title-color);
}
.contacts-address {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
	font-style: normal;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--third-text-color);
}
.contacts-up-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;
}
.contacts-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--third-text-color);
}

/* footer */
.footer {
	padding: 55px 15px;
}
.footer-box {
	display: flex;
}
.footer-copyr {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--third-text-color);
}
.footer-sociale-items {
	display: flex;
	margin-left: auto;
}
.footer-sociale-item {
	margin-left: 40px;
}
.footer-link-inst {
}
.link-youtube {
}
