@import "../utils/colors";

.header {
	position: fixed;
	top: 0;
	width: 100vw;
	@media screen and (max-width: 767px) {
		padding-top: 40px;
	}
	padding-top: 32px;
	&__box {
		@media screen and (max-width: 767px) {
			justify-content: space-between;
		}
		display: flex;
		align-items: center;
	}

	&__nav {
		@media screen and (max-width: 767px) {
			display: none;
		}
		display: flex;
		align-items: center;
	}
}

.logo {
	margin-right: 70px;
}
.nav {
	&__toggle {
		@media screen and (max-width: 767px) {
			display: block;
			width: 40px;
			height: 40px;
			background: transparent;
			color: getColor("main-title-color");
		}
		display: none;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 12px;
		line-height: 1.34;
		letter-spacing: 0.1em;
		color: getColor("header-text-color");
		&:hover,
		&:focus {
			color: getColor("accent-color");
		}
	}
}

.cont {
	@media screen and (max-width: 767px) {
		display: none;
	}
	margin-left: auto;
	&__tel {
		margin-right: 40px;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		color: getColor("header-text-color");
		&:hover,
		&:focus {
			color: getColor("accent-color");
		}
	}
}

.btn-record {
	min-width: 160px;
	padding: 12px;

	border: 1px solid getColor("accent-color");
	box-sizing: border-box;
	border-radius: 25px;

	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	color: getColor("main-btn-color");
	background: rgba(0, 0, 0, 0);
	&:hover,
	&:focus {
		background: getColor("accent-color");
		color: getColor("main-btn-color");
	}
}
