@import "../utils/colors";

.main {
	display: flex;
}

.sociale-items {
	position: relative;
	width: 96px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	padding-bottom: 100px;
	margin-bottom: 40px;
}
.sociale-items::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 60px;
	width: 1px;
	transform: translateX(-50%);
	background: getColor("second-btn-color");
}
.sociale-item {
	display: flex;
	align-items: center;
	transform: rotate(270deg);
	height: 100px;
}

.sociale-item > a:hover,
.sociale-item > a:focus {
	color: getColor("accent-color");
}
.link-inst,
.link-youtube {
	display: block;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: getColor("fourth-text-color");
}

.link-inst::before {
	content: "";
	height: 60px;
	width: 1px;
	background-color: getColor("fourth-text-color");
}
.main-bg {
	flex-grow: 1;
	padding: 272px 0 206px 96px;
	background: url(../images/Slider-img-3.jpg) no-repeat center;
}

.main-up-title {
	color: getColor("second-text-color");
}
.main-up-title::before {
	background-color: getColor("second-text-color");
}

.main-title {
	font-size: 72px;
	line-height: 1.18;
	color: getColor("main-title-color");
}

.main-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: getColor("third-text-color");
}
