@import "../utils/colors";

.online {
	width: 1280px;
	height: 644px;
	margin: 0 auto;
	background: #191c26;
	background-image: url(../images/bg-contacts.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.two-box {
	display: flex;
	flex-wrap: wrap;
}
.box-form {
	width: 50%;
}
.inputs {
	display: flex;
	width: auto;
}
.inputs label + label {
	margin-left: 30px;
}
.mar-bot-44 {
	display: flex;
	margin-bottom: 44px;
}
.box-form input {
	width: 270px;
	height: 24px;
}
.input-form {
	background-color: transparent;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.input-form::placeholder,
.input-form::placeholder {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.input-form:hover,
.input-form:focus {
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}
.input-form:hover::placeholder,
.input-form:focus::placeholder {
	color: #ffffff;
}
.box-form textarea {
	width: 560px;
	min-height: 76px;
	list-style: none;
}
.online-title {
	margin-right: 50px;
	margin-bottom: 44px;
}
